@value smallScreen from '../../common/size.css';

.home {
  height: 100vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: yellowgreen;
}
.main {
  height: 100%;
  width: 90vw;
  max-width: 700px;
  padding: 1em;
  box-sizing: border-box;
  background-color: bisque;
  overflow: scroll;
}

.section1,
.section2 {
  margin-top: 5em;
}
.section2 {
  margin-bottom: 5em;
}

.calendar {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

@media screen and (max-width: smallScreen) {
  .main {
    width: 90vw;
  }
}
