.home {
  height: 100vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: yellowgreen;
}
.main {
  height: 100%;
  width: 50vw;
  padding: 1em;
  box-sizing: border-box;
  background-color: bisque;
  overflow: scroll;
}
.calendar {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: smallScreen) {
  .main {
    width: 90vw;
  }
}
