@value smallScreen from '../../common/size.css';

.loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  position: relative;
  width: 60%;
  max-width: 500px;
  height: 80%;
  background-color: teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: tomato;
}

.buttons {
  width: 100%;
  height: 2em;
  display: flex;
}

.typeSelectBtn {
  flex: 1;
  border: none;
  border-bottom: 2px solid white;
  background-color: none;
}

.typeSelectBtn:hover {
  border-bottom: 2px solid black;
}

.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2em 0em;
}

.idInput,
.pwInput {
  height: 2em;
  margin-bottom: 0.5em;
}

.checks {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.footer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.findBtns {
  display: flex;
  justify-content: center;
  margin: 0.5em 0em;
}

.findIdBtn,
.findPwBtn {
  border: none;
  background-color: transparent;
}

.findIdBtn {
  border-right: 1.5px solid black;
}

.findIdBtn:hover,
.findPwBtn:hover {
  cursor: pointer;
}

@media screen and (max-width: smallScreen) {
  .login {
    width: 85%;
    height: 90%;
  }
}
