@value smallScreen from '../../common/size.css';

.footer {
  height: 5em;
  width: 70vw;
  background-color: ghostwhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: smallScreen) {
  .footer {
    width: 90vw;
  }
}
