@value smallScreen from '../../common/size.css';

.header {
  height: 4em;
  width: 50%;
  background-color: teal;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right,
.left {
  font-size: 1.3rem;
}

.right {
  cursor: pointer;
}

@media screen and (max-width: smallScreen) {
  .header {
    width: 85%;
  }
}
