@value smallScreen from '../../common/size.css';

.footer {
  height: 5em;
  width: 50%;
  background-color: teal;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: smallScreen) {
  .footer {
    width: 85%;
  }
}
